---
layout: default
pagination:
    enabled: true
permalink: /posts/
---

<article>
<header class="post-header"><h1 class="post-title">文章</h1></header>
<section class="gamemaster">
    <p>法師都有自己的魔法書，記載了自己畢生的知識。</p>
    
    <p>悄悄掀開這本被塵封的魔法書，這位菜鳥法師懶惰無比，只在前幾頁有筆記，後面都是一片空白。</p>
    
    <p>等等，最后似乎写了点什么？</p>

    <p>後面幾頁到處都是這位菜鳥法師幼稚的塗鴉、對這個世界無知的妄言、甚至還試圖寫幾篇小說，且不說寫得到底有多差勁，全都是開頭寫了一點就沒堅持下去。</p>
    
    <p>你嘆息了一聲，把這本魔法書放回了原位。</p>
</section>

<ul class="post-list">
{% for post in paginator.posts %}{% if post.hide != true %}
{% assign date_format = site.date_format | default: "%b %-d, %Y" %}
    <li class="post-item">
        <p><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a><span class="category-tag">{{ post.category }}</span>：
        {% if post.summary %}{{ post.summary }}
            {% else %}<blockquote class="post.excerpt">{{ post.excerpt | strip_html  | truncate: 140 }}</blockquote>
        {% endif %}
        </p>
        <p class="post-meta">Post on {{ post.date | date: date_format }}.</p>
    </li>
{% endif %}{% endfor %}
</ul>
<footer>
<nav class="pagination">
{% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">&lArr; 之前</a>
{% else %}
{% endif %}
{% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | relative_url }}">之后 &rArr;</a>
{% else %}
{% endif %}
</nav>
</footer>
</article>
